body{
    font-family: sans-serif;
}

.banner{
    background-color: dimgrey;
    padding: 16vw;
}
.banner_second{
    background-color: gainsboro;
    padding: 3vw;
    border: 1px solid white;
    margin: auto;
    text-align: center;
}