body{
    font-family: sans-serif;
}

.banner{
    background-color: gainsboro;
    padding: 16vw;
}
.banner_second{
    background-color: dimgrey;
    padding: 3vw;
    border: 1px solid white;
    margin: auto;
    text-align: center;
    color: white;
}
.banner-container{
    background-color: gainsboro;
}
.banner-column{
    background-color: grey;
    margin: auto;
    text-align: center;
    color: white;
    border: 1.5px solid white;
    padding: 2vw;
}