body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: gainsboro;
}
.banner-column{
    background-color: grey;
    margin: auto;
    text-align: center;
    color: white;
    border: 1.5px solid white;
    padding: 2vw;
    
}
.about-container{
    background-color: rgb(24, 154, 158);
}